@use '../utils/breakpoints.scss' as *;
@use '../utils/utils.scss' as *;

.container {
  width: 100%;
  max-width: em(1520);
  padding: 0 em(50);
  margin: 0 auto;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding: 0 em(16);
  }
}
