@import 'https://p.typekit.net/p.css?s=1&k=hxy7xnt&ht=tk&f=42533.42534&a=130693404&app=typekit&e=css';

@font-face {
  font-family: ivymode;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src:
    url('https://use.typekit.net/af/d15877/00000000000000007735ce78/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/d15877/00000000000000007735ce78/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/d15877/00000000000000007735ce78/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');

  // font-display: block;
  font-display: swap;
}

@font-face {
  font-family: ivymode;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src:
    url('https://use.typekit.net/af/c59ffc/00000000000000007735ce7b/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c59ffc/00000000000000007735ce7b/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c59ffc/00000000000000007735ce7b/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');

  // font-display: block;
  font-display: swap;
}

// @mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
//   @font-face {
//     font-family: $font-family;
//     font-style: $style;
//     font-weight: $weight;
//     src: url('#{$file-path}.woff2') format('woff2');

//     // font-display: block;

//     font-display: swap;
//   }
// }