/* stylelint-disable */

// colors
$color-white: #ffffff;
$color-black: #000000;

$text-color-primary: #302e2d;
$text-color-secondary: #818181;
$text-color-invert: #ffffff;

$background-color-primary: #302e2d;
$background-color-invert: #f8f8f8;

$icon-color-primary: #302e2d;
$icon-color-invert: #ffffff;

$stroke-color-primary: #e7e6e3;
$stroke-color-secondary: rgba(34, 34, 34, 0.2);
$stroke-color-invert: #fff;

// paths
$fonts-path: '/fonts';
$images-path: '/images';

// timing
$time-fast: 150ms;
$time-normal: 250ms;
$time-slow: 350ms;

// font
$font-size-default: 16;
$font-family-default-name: 'Roboto Variable';
$font-family-default: $font-family-default-name, sans-serif;

// header
$header-default-size: 70;
$header-adaptive-size: 50;

// Easing presets
// --------------------------
$linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in: cubic-bezier(0.42, 0, 1, 1);
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
