/* stylelint-disable */

// colors
// --------------------------
// basic
$color-white: #ffffff;
$color-black: #000000;
// text
$text-color-primary: #e6e6f2;
$text-color-secondary: #b4b4c7;
$text-color-tertiary: #6d6d80;
// background
$background-color-primary: #0e0e12;
$background-color-secondary: #181821;
$background-color-tertiary: #1f1f2e;
// accent
$accent-color-primary: #4a47a3;
$accent-color-secondary: #6d6aff;
$accent-color-success: #3fcf8e;
$accent-color-warning: #f0b232;
$accent-color-error: #e05b65;
// border
$border-color-primary: #2a2a3d;
$border-color-secondary: #3d3d55;
// actions
$actions-color-primary: #26236b;
$actions-color-secondary: #322e82;
$actions-color-tertiary: #1d1a54;

// paths
// --------------------------
$fonts-path: '/fonts';
$images-path: '/images';

// timing
// --------------------------
$time-fast: 150ms;
$time-normal: 250ms;
$time-slow: 350ms;

// font
// --------------------------
$font-size-default: 16;
$font-family-default-name: 'Roboto Variable';
$font-family-default: $font-family-default-name, sans-serif;

// header
// --------------------------
$header-default-size: 70;
$header-adaptive-size: 50;

// Easing presets
// --------------------------
$linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in: cubic-bezier(0.42, 0, 1, 1);
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
